<div class="container">

    <div class="col-sm-6 col-sm-offset-3">
        
        <form action="/thanh-vien/dang-nhap" method="POST" class="form-horizontal" role="form">

                <div class="form-group">
                    <legend>{{__ 'Member Login'}} <span class="pull-right"><a href="/thanh-vien/dang-ky">{{__ 'Create new account'}}</a></span></legend>
                </div>

                 {{#if hasErrors}}
                <div class="row">
                    <div class="alert alert-danger">
                        {{#each messages}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
                {{/if}}

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <button onclick="window.location.href='/thanh-vien/facebook'" type="button" class="btn-fb btn btn-default col-sm-12">{{__ 'Login by Facebook'}}</button>
                        </div>
                        <div class="col-sm-6">
                            <button onclick="window.location.href='/thanh-vien/google'" type="button" class="btn-gg btn btn-default col-sm-12">{{__ 'Login by Google'}}</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="loginOr text-center col-sm-12">{{__ 'Or'}}</div>
                </div>

                <div class="form-group">
                    <label for="email">{{__ 'Email Address'}}</label>
                    <input type="text" name="email" class="form-control" id="email" placeholder="{{__ 'Input your email address'}}" />
                </div>

                <div class="form-group">
                    <label for="password">{{__ 'Password'}}</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="{{__ 'Input your password'}}" />
                </div>
        
                <div class="form-group">
                    <div class="checkbox">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                        <button type="submit" class="btn btn-primary pull-right">{{__ 'Login'}}</button>
                    </div>
                </div>
        </form>
        
    </div>

</div>