<div id="container">
    <div class="container">
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title-404 text-center">404</h1>
                <p class="text-center lead">
                    {{#if sessionFlash.messages }}
                        {{#if sessionFlash.isArray}}
                            {{#each sessionFlash.messages}}
                                {{this}}
                            {{/each}}
                        {{else}}
                            {{sessionFlash.messages}}
                        {{/if}}
                    {{else}}
                    Sorry!<br>The page you requested cannot be found! 
                    {{/if}}
                </p>
                <div class="buttons text-center">
                    <a class="btn btn-primary btn-lg" href="/">{{__ 'Continue'}}</a>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>