<!doctype html>
<html lang="en">
    <head>
        <title>{{pageTitle}}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/api.css" />
        <style>
            .code {
                background-color: #292b36;
                color: #FFF;
            }
            .bgSuccess {
                background-color: #28a745!important;
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/api">WS API</a>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item {{#arrayContains "homeNav" pageActive}}active{{/arrayContains}}">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown {{#arrayContains "districtsNav" pageActive}}active{{/arrayContains}}">
                    <a class="nav-link dropdown-toggle" href="/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Districts</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item {{#arrayContains "page-districts-by-province" pageActive}}active{{/arrayContains}}" href="/api/v{{apiConfig.api_version}}/page-districts-by-province">Get Districts by Province ID</a>
                        <a class="dropdown-item {{#arrayContains "page-district-by-id" pageActive}}active{{/arrayContains}}" href="/api/v{{apiConfig.api_version}}/page-district-by-id">Read data of a District</a>
                    </div>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="container">

            <div class="row row-offcanvas row-offcanvas-right">

                <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
                    <div class="list-group">
                        <a href="/api/v{{apiConfig.api_version}}/page-districts-by-province" class="list-group-item {{#arrayContains "page-districts-by-province" pageActive}}active{{/arrayContains}}">Get Districts by Province ID</a>
                        <a href="/api/v{{apiConfig.api_version}}/page-district-by-id" class="list-group-item {{#arrayContains "page-district-by-id" pageActive}}active{{/arrayContains}}">Read data of a District</a>
                    </div>
                </div><!--/span-->

                <div class="col-12 col-md-9 content">
                    {{{body}}}
                </div><!--/CONTENT-->

                
            </div><!--/row-->

            <hr>

            <footer>
                <p>&copy; Wefuny Shopping Api 2017</p>
            </footer>

        </div><!--/.container-->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>