<div class="site_title">Cập nhật tài khoản</div>
<div class="site_content">

	{{#if sessionFlash.message }}
	<div class="{{ sessionFlash.type}}_box">
		{{sessionFlash.message}}
	</div>
	{{/if}}

	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Thông tin chung</a></li>
			<li><a href="#tabs-2">Đổi mật khẩu</a></li>
			<li><a href="#tabs-3">Đổi mã PIN</a></li>
		</ul>
		<div id="tabs-1">
			<form method="post" id="editInfo" action="/backoffice/account/edit/{{account._id}}" id="frm">
				<input type="hidden" name="a" value="info" />
				<table width="100%" class="widget-tbl">
					<tr>
						<td align="right" width="210">Họ:</td>
						<td>
							<input name="firstname" type="text" size="30" value="{{account.info1.firstname}}" placeholder="Nhập họ của bạn" />
						</td>
						<td>Tên</td>
						<td><input name="lastname" type="text" size="30" value="{{account.info1.lastname}}" placeholder="Nhập tên của bạn" /></td>
					</tr>

					<tr>
						<td align="right">Điện thoại / Fax:</td>
						<td>
							<input name="telephone" type="text" size="30" value="{{account.info1.telephone}}" placeholder="Nhập số điện thoại" />
						</td>
						<td>Số Fax</td>
						<td>
							<input name="fax" type="text" size="30" value="{{account.info1.fax}}" placeholder="Nhập số fax thoại" />
						</td>
					</tr>

					<tr>
						<td align="right">Tên của hàng/Công ty:</td>
						<td colspan="3">
							<input style="width: 700px !important;" name="company" type="text" size="20" value="{{account.info2.company}}" placeholder="Nhập tên của hàng hoặc công ty"
							/>
						</td>
					</tr>

					<tr>
						<td align="right">Địa chỉ:</td>
						<td colspan="3">
							<input name="address" type="text" size="20" value="{{account.info2.address}}" placeholder="Nhập địa chỉ" />
						</td>
					</tr>

					<tr>
						<td>Tỉnh thành / Quốc gia
						</td>
						<td colspan="3">
							<div class="width:100%;">
								<div class="widget-title" style="float:left;width:46%;">Tỉnh Thành</div>
								<div class="widget-title" style="float:right;width:46%;">Quốc gia</div>
							</div>
							<script type="text/javascript">
								window.onload = function() {
									getCity('{{account.info2.cities}}','{{account.info2.countries}}', null);
								};
							</script>
							<div id="citiesCountry" class="widget-content" style="float:left;overflow:auto; height:200px; width:46%; background:#FFFFFF">
								
							</div>
							<div class="widget-content" style="float:right;overflow:auto; height:200px; width:46%; background:#FFFFFF">
								
								{{#each countries_list}}
									{{#if this.checked}}
										<input type="radio" onclick="getCity('{{../account.info2.cities}}','{{../account.info2.countries}}', '{{this._id}}')" id="{{this._id}}" name="country" value="{{this._id}}" checked /> <strong> {{this.name}}</strong><br />
									{{else}}
										<input type="radio" onclick="getCity('{{../account.info2.cities}}','{{../account.info2.countries}}', '{{this._id}}')" id="{{this._id}}" name="country" value="{{this._id}}" />{{this.name}}<br />
									{{/if}}
								{{/each}}

							</div>
						</td>
					</tr>

					<tr>
						<td>Địa chỉ</td>
						<td colspan="3">
							<input style="width: 700px !important;" name="city_id" type="text" size="30" value="{{account.info2.address}}" placeholder="Nhập địa chỉ" />
						</td>
					</tr>

					<tr>
						<td align="right">Đăng ký nhận thư:</td>
						<td colspan="3"><input type="checkbox" name="newsletter" value="true" {{#ifCond account.newsletter "===" true}}checked{{/ifCond}} />							Tích để bật - Bạn sẽ nhận được các thư khuyến mãi từ hệ thống của <strong>{{settings.site_name}}</strong></td>
					</tr>

					<tr>
						<td>Trạng thái</td>
						<td colspan="3">
							<select name="status">
								<option value="Active">Kích hoạt</option>
								<option value="Inactive">Chưa kích hoạt</option>
								<option value="Suspended">Đóng băng</option>
							</select>
						</td>
					</tr>

					<tr>
						<td colspan="4" align="center">
							<input type="hidden" name="_csrf" value="{{ csrfToken }}">
							<input type="submit" name="send" value="Cập nhật" />
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div id="tabs-2">
			<div class="info_box">Mật khẩu phải có tối thiểu {{settings.passwordLenght}} ký tự trở lên.</div>
			<form method="post" id="editPassword" action="/backoffice/account/edit/{{account._id}}">
				<input type="hidden" name="a" value="password" />
				<table width="100%" class="widget-tbl">
					<tr>
						<td align="right">Mật khẩu mới:</td>
						<td><input name="new_password" type="password" size="30" /></td>
					</tr>
					<tr>
						<td align="right">Xác nhận lại mật khẩu:</td>
						<td><input name="new_password2" type="password" size="30" /></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input type="hidden" name="_csrf" value="{{ csrfToken }}">
							<input type="submit" name="send" value="Cập nhật" />
						</td>
					</tr>
				</table>
			</form>
		</div>

		<div id="tabs-3">
			<div class="info_box">Mã PIN phải có tối thiểu {{settings.passwordLenght}} ký tự trở lên.</div>
			<form method="post" id="frm3" action="/backoffice/account/edit/{{account._id}}">
				<input type="hidden" name="a" value="pincode" />
				<table width="100%" class="widget-tbl">
					<tr>
						<td align="right">Mã PIN mới:</td>
						<td><input name="newpin_code" type="password" size="30" /></td>
					</tr>
					<tr>
						<td align="right">Xác nhận lại mã PIN mới:</td>
						<td><input name="newpin_code2" type="password" size="30" /></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input type="hidden" name="_csrf" value="{{ csrfToken }}">
							<input type="submit" name="send" value="Cập nhật" />
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>