<form action="/backoffice/products/add-product?_csrf={{csrfToken}}" id="frmProduct" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
	<div class="site_title">Thêm mới sản phẩm 
		<div style="float:right;">
			<input type="submit" name="create" value="{{__ 'Save'}}" />
			<input type="submit" name="btn" form="addCategory" value="{{__ 'Close'}}" onclick="window.location='/backoffice/products';" />
		</div>
	</div>
	<div class="site_content">

		{{#if sessionFlash.messages }}
			{{#if sessionFlash.isArray}}
				<div class="{{ sessionFlash.type}}_box">
					{{#each sessionFlash.messages}}
						{{this}}
					{{/each}}
				</div>
			{{else}}
				<div class="{{ sessionFlash.type}}_box">
					{{sessionFlash.messages}}
				</div>
			{{/if}}
		{{/if}}

		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">{{__ 'General'}}</a></li>
				<li><a href="#tabs-2">{{__ 'Description'}}</a></li>
				<li><a href="#tabs-3">{{__ 'Category'}}</a></li>
				<li><a href="#tabs-4">{{__ 'Thumbnails'}}</a></li>
			</ul>
			<div id="tabs-1">
				<table width="100%" class="widget-tbl">

					<tr>
						<td width="150">{{__ 'Product Name'}}</td>
						<td colspan="3"><input name="txtName" type="text" id="txtName" value="" style="width:98%;" /></td>
					</tr>

					<tr>
						<td width="150">{{__ 'Product prices'}}</td>
						<td colspan="3">
							<input name="txtPrice" type="text" id="txtPrice" value="" placeholder="{{__ 'Regular price'}}" style="width:48%;" />
							<input name="txtSales" type="text" id="txtSales" value="" placeholder="{{__ 'Sale price'}}" style="width:48%;" />
						</td>
					</tr>

					<tr>
						<td>{{__ 'Product SKU'}}</td>
						<td><input name="txtSku" type="text" id="txtSku" value="" style="width:95%;" /></td>
						<td>{{__ 'Product Status'}}</td>
						<td>
							<select name="txtStatus" id="txtStatus">
								<option value="ACTIVE"{{#ifCond req.body.txtStatus "==" "ACTIVE"}} selected{{/ifCond}}>{{__ 'Active'}}</option>
								<option value="INACTIVE"{{#ifCond req.body.txtStatus "==" "INACTIVE"}} selected{{/ifCond}}>{{__ 'Inactive'}}</option>
							</select>
						</td>
					</tr>

					<tr>
						<td>{{__ 'Price Range'}}</td>
						<td colspan="3">
							<table width="100%" class="widget-tbl" id="priceRange">
								<tr>
									<td><input name="txtPriceRange[]" type="text" id="txtPriceRange" value="" placeholder="{{__ 'Price range'}}" style="width:95%;" /></td>
									<td><input name="txtPriceRange[]" type="text" id="txtQuantityFrom" value="" placeholder="{{__ 'Quantity from'}}" style="width:95%;" /></td>
									<td><input name="txtPriceRange[]" type="text" id="txtQuantityTo" value="" placeholder="{{__ 'Quantity to'}}" style="width:95%;" /></td>
								</tr>
							</table>
							<a style="float:right;" href="#" id="remove-priceRange"><span class="ui-icon  ui-icon-minusthick"></span></a>
							<a style="float:right;" href="#" id="add-priceRange"><span class="ui-icon ui-icon-plusthick"></span></a>
						</td>
					</tr>

				</table>
			</div>

			<div id="tabs-2">
				<table width="100%" class="widget-tbl">
					<tr>
						<td>Mô tả của sản phẩm</td>
					</tr>
					<tr>
						<td>
							<textarea rows="16" name="txtDesc" id="txtDesc" cols="147"></textarea>
							<script type="text/javascript">
								CKEDITOR.replace( 'txtDesc' );
							</script>
						</td>
					</tr>
				</table>
			</div>

			<div id="tabs-3">
				<table width="100%" class="widget-tbl">
					<tr>
						<td>Chọn danh mục sản phẩm</td>
					</tr>
					<tr>
						<td>
							<div class="widget-content" style="background:#FFFFFF; overflow:auto; height:350px;">
								{{!-- LEVEL 1 --}}
								{{#each categories}}
										<input type="checkbox" name="category" value="{{this._id}}" class="checkall" /> {{this.name}}<br />
										{{!-- LEVEL 2 --}}
										{{#each ../childs}}
											{{#ifCond this.level "===" 2}}
												{{#indexOf ../this._id this.child}}
													<input type="checkbox" name="category" value="{{this._id}}" class="checkall" style="margin-left:30px;" /> {{this.name}}<br />
													{{!-- LEVEL 3 --}}
													{{#each ../../childs}}
														{{#ifCond this.level "===" 3}}
															{{#indexOf ../this._id this.child}}
																<input type="checkbox" name="category" value="{{this._id}}" class="checkall" style="margin-left:60px;" /> {{this.name}}<br />
																{{!-- LEVEL 4 --}}
																{{#each ../../../childs}}
																	{{#ifCond this.level "===" 4}}
																		{{#indexOf ../this._id this.child}}
																			<input type="checkbox" name="category" value="{{this._id}}" class="checkall" style="margin-left:90px;" /> {{this.name}}<br />
																		{{/indexOf}}
																	{{/ifCond}}
																{{/each}}
															{{/indexOf}}
														{{/ifCond}}
													{{/each}}
												{{/indexOf}}
											{{/ifCond}}
										{{/each}}
								{{/each}}
							</div>
						</td>
					</tr>
				</table>
			</div>

			<div id="tabs-4">
				<div class="upload">
					<input type='file' onchange="thumbPreview(this);" multiple='multiple' accept='image/*' name='txtThumb' id='txtThumb' />
				</div>
				<div class="totalImages" id="totalImages"></div>
				<div class="filePriview" id="filePreview"></div>
			</div>

		</div>
	</div>
</form>