<div class="site_title">Cập nhật danh mục thể loại <a style="float:right;" href="/backoffice/categories"><< Thể loại</a></div>
<div class="site_content">

	{{#if hasErrors}}
		<div class="error_box">
		{{#each messages}}
			<p>{{this}}</p>
		{{/each}}
		</div>
	{{/if}}
	
	<form method="post" id="addform" action="/backoffice/categories/edit/{{category_by_id._id}}">
		<input type="hidden" name="id" value="{{category_by_id._id}}" />
		<table width="100%" class="widget-tbl">

			<tr>
				<td width="150">Tên danh mục</td>
				<td><input name="name" type="text" id="name" value="{{category_by_id.name}}" style="width:98%;" /></td>
			</tr>

			<tr>
				<td>Thuộc danh mục</td>
				<td>
					<div class="widget-content" style="background:#FFFFFF; overflow:auto; height:350px;">
						<input class="toplevel" type="radio" name="category" value="0" {{#ifCond category_by_id.level "===" 1}}checked{{/ifCond}} /> <strong>Là danh mục chính</strong><br /> 
						{{!-- LEVEL 1 --}}
						{{#each categories}}
								<input type="radio" name="category" value="{{this._id}}:{{this.level}}" class="checkall" {{#indexOf this._id ../category_by_id.child}}checked{{/indexOf}} /> {{this.name}}<br />
								{{!-- LEVEL 2 --}}
								{{#each ../childs}}
									{{#ifCond this.level "===" 2}}
										{{#indexOf ../this._id this.child}}
											<input type="radio" name="category" value="{{this._id}}:{{this.level}}" class="checkall" style="margin-left:30px;" {{#indexOf this._id ../../category_by_id.child}}checked{{/indexOf}} /> {{this.name}}<br />
											{{!-- LEVEL 3 --}}
											{{#each ../../childs}}
												{{#ifCond this.level "===" 3}}
													{{#indexOf ../this._id this.child}}
														<input type="radio" name="category" value="{{this._id}}:{{this.level}}" class="checkall" style="margin-left:60px;" {{#indexOf this._id ../../../category_by_id.child}}checked{{/indexOf}} /> {{this.name}}<br />
														{{!-- LEVEL 4 --}}
														{{#each ../../../childs}}
															{{#ifCond this.level "===" 4}}
																{{#indexOf ../this._id this.child}}
																	<input type="radio" name="category" value="{{this._id}}:{{this.level}}" class="checkall" style="margin-left:90px;" disabled /> {{this.name}}<br />
																{{/indexOf}}
															{{/ifCond}}
														{{/each}}
													{{/indexOf}}
												{{/ifCond}}
											{{/each}}
										{{/indexOf}}
									{{/ifCond}}
								{{/each}}
						{{/each}}
					</div>
				</td>
			</tr>

			<tr>
				<td>Trạng thái</td>
				<td>
					<select name="status">
						<option value="ACTIVE" {{#ifCond category_by_id.status "===" "ACTIVE"}}selected{{/ifCond}}>Kích hoạt</option>
						<option value="INACTIVE" {{#ifCond category_by_id.status "===" "INACTIVE"}}selected{{/ifCond}}>Tạm dừng</option>
					</select>
				</td>
			</tr>

			<tr>
				<td></td>
				<td>
					<input type="hidden" name="_csrf" value="{{ csrfToken }}">
					<input type="submit" name="create" value="Cập nhật" />
					<input type="button" name="btn" value="Trở lại" onclick="history.back();" />
				</td>
			</tr>
		</table>
	</form>
</div>