<div id="header">
    <!-- Top Bar Start-->
    <nav id="top" class="htop">
        <div class="container">
            <div class="row"> <span class="drop-icon visible-sm visible-xs"><i class="fa fa-align-justify"></i></span>
                <div class="pull-left flip left-top">
                    <div class="links">
                        <ul>
                            
                            <li class="mobile"><i class="fa fa-phone"></i>{{formatPhoneNumber settings.site_telephone}}</li>
                            <li class="email"><a href="mailto:{{settings.site_email}}"><i class="fa fa-envelope"></i>{{settings.site_email}}</a></li>
                            
                            <li class="wrap_custom_block hidden-sm hidden-xs"><a>{{__ 'News'}}<b></b></a>
                                <div class="dropdown-menu custom_block">
                                    <ul>
                                        <li>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td><img alt="" src="/images/banner/cms-block.jpg"></td>
                                                        <td><img alt="" src="/images/banner/responsive.jpg"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h4>Tin tức 1</h4>
                                                        </td>
                                                        <td>
                                                            <h4>Mô tả tin tức 1</h4>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Đây là nội dung bản tin khuyến mãi trong tháng của chúng tôi 01.</td>
                                                        <td>Đây là nội dung bản tin khuyến mãi trong tháng của chúng tôi 02</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong><a class="btn btn-default btn-sm" href="#">Đọc thêm</a></strong></td>
                                                        <td><strong><a class="btn btn-default btn-sm" href="#">Đọc thêm</a></strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">{{{ __n 'My Wishlist (%d)' 'My Wishlist (%d)' 10 }}}</a></li>
                            <li><a href="/shop/checkout">{{{ __ 'Checkout' }}}</a></li>
                        </ul>
                    </div>
                    <div id="language" class="btn-group">

                        <button class="btn-link dropdown-toggle" data-toggle="dropdown"> <span> <img src="/images/{{clanguage}}.png" alt="Việt Nam" title="Việt Nam">{{@root.__ clanguage}} <i class="fa fa-caret-down"></i></span></button>
                        <ul class="dropdown-menu">
                            {{#each languages}}
                                <li>
                                    <button onclick="window.location.href='/{{this}}';" class="btn btn-link btn-block language-select" type="button" name="language"><img src="/images/{{this}}.png" alt="" title="Việt Nam" /> {{@root.__ this}}</button>
                                </li>
                            {{/each}}
                        </ul>

                    </div>
                    <div id="currency" class="btn-group">
                        <button class="btn-link dropdown-toggle" data-toggle="dropdown"> <span> đ VND <i class="fa fa-caret-down"></i></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="currency-select btn btn-link btn-block" type="button" name="EUR">đ Việt Nam Đồng</button>
                            </li>
                            <li>
                                <button class="currency-select btn btn-link btn-block" type="button" name="USD">$ US Dollar</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="top-links" class="nav pull-right">
                    <ul>
                        {{#if login}} 
                        
                            {{#ifCond customer.provider "==" "facebook"}}
                            <li style="line-height: 0;">
                                <a href="/khach-hang/tai-khoan"><img src="{{customer.facebook.photo}}" class="img-responsive img-circle header-avatar" alt="{{customer.facebook.name}}"
                                    /></a>
                            </li>
                            {{/ifCond}} 
                            
                            {{#ifCond customer.provider "==" "google"}}
                            <li style="line-height: 0;">
                                <a href="/khach-hang/tai-khoan"><img src="{{customer.google.photo}}" class="img-responsive img-circle header-avatar" alt="{{customer.google.name}}"
                                    /></a>
                            </li>
                            {{/ifCond}} 
                            
                            {{#ifCond customer.provider "==" "local"}}
                                {{#ifCond customer.info1.firstname "||" customer.info1.lastname}}
                                <li style="border-left: none;color:#333;padding-right: 10px;">{{ __ 'Hello' }}, <a href="/khach-hang/tai-khoan"><strong>{{customer.info1.firstname}} {{customer.info1.lastname}}</strong></a></li>
                                {{/ifCond}} 
                            {{/ifCond}}

                            {{#ifCond customer.roles "==" "ADMIN"}}
                                {{#ifCond customer.info1.firstname "||" customer.info1.lastname}}
                                    <li style="border-left: none;color:#333;padding-right: 10px;">{{ __ 'Hello' }}, <a href="/khach-hang/tai-khoan"><strong>{{customer.info1.firstname}} {{customer.info1.lastname}}</strong></a></li>
                                {{/ifCond}}
                                <li><a href="/backoffice">Quản trị</a></li>
                            {{/ifCond}}

                        <li><a href="/khach-hang/dang-thoat">{{ __ 'Logout'}}</a></li>
                        {{else}}
                        <li><a href="/khach-hang/dang-ky">{{ __ 'Register' }}</a></li>
                        <li><a href="/khach-hang/dang-nhap">{{ __ 'Login' }}</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Top Bar End-->
    <!-- Header Start-->
    <header class="header-row">
        <div class="container">
            <div class="table-container">
                <!-- Logo Start -->
                <div class="col-table-cell col-lg-4 col-md-4 col-sm-12 col-xs-12 inner">
                    <div id="logo">
                        <a href="/"><img class="img-responsive" src="/images/logo.png" title="{{title}}" alt="MarketShop" /></a>
                    </div>
                </div>
                <!-- Logo End -->
                <!-- Search Start-->
                <div class="col-table-cell col-lg-5 col-md-5 col-md-push-0 col-sm-6 col-sm-push-6 col-xs-12">
                    <div id="search" class="input-group">
                        <input id="filter_name" type="text" name="search" value="" placeholder="{{__ 'Tìm sản phẩm...'}}" class="form-control input-lg" />
                        <button type="button" class="button-search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <!-- Search End-->
                <!-- Mini Cart Start-->
                <div class="col-table-cell col-lg-3 col-md-3 col-md-pull-0 col-sm-6 col-sm-pull-6 col-xs-12 inner">
                    <div id="cart">

                        {{#if session.cart}}
                            <button type="button" data-toggle="dropdown" data-loading-text="Đang tải..." class="heading dropdown-toggle"> 
                                <span class="cart-icon pull-left flip"></span> 
                                <span id="cart-total">
                                    <span id="cart-quantity">{{object_length session.cart}}</span> sản phẩm - {{session.cart.total_item_price}}đ
                                </span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <table class="table">
                                        <tbody>
                                            {{#each session.cart}}
                                            <tr>
                                                <td class="text-center">
                                                    <a href="{{this.link}}">
                                                        <img class="img-thumbnail" title="Xitefun Causal Wear Fancy Shoes" alt="Xitefun Causal Wear Fancy Shoes" src="/files/products/{{this.thumb}}"></a>
                                                </td>
                                                <td class="text-left"><a href="/product.html">{{this.name}}</a></td>
                                                <td class="text-right">x {{this.quantity}}</td>
                                                <td class="text-right">{{formatCurrency total_item_price}}{{settings.currency_code}}</td>
                                                <td class="text-center"><button class="btn btn-danger btn-xs remove" title="Xóa sản phẩm này" onClick=""
                                                        type="button"><i class="fa fa-times"></i></button></td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </li>
                                <li>
                                    <div>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="text-right"><strong>Thành tiền</strong></td>
                                                    <td class="text-right">{{formatCurrency (total_cost_vat_applied session.total_cart_amount)}}{{settings.currency_code}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><strong>Thuế VAT ({{session.vat}}%)</strong></td>
                                                    <td class="text-right">{{ formatCurrency (getVat session.total_cart_amount)}}{{settings.currency_code}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><strong>Tổng thanh toán</strong></td>
                                                    <td class="text-right">{{formatCurrency session.total_cart_amount}}{{settings.currency_code}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="checkout"><a href="/cart.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Xem chi tiết</a>&nbsp;&nbsp;&nbsp;
                                            <a href="/shop/checkout" class="btn btn-primary"><i class="fa fa-share"></i> Thanh toán</a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        {{else}}
                            <button type="button" data-toggle="dropdown" data-loading-text="Đang tải..." class="heading dropdown-toggle"> 
                                <span class="cart-icon pull-left flip"></span> 
                                <span id="cart-total">
                                    <span id="cart-quantity">0</span> sản phẩm - 0đ
                                </span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    {{__ 'Your cart has no products.'}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        {{/if}}

                    </div>
                </div>
                <!-- Mini Cart End-->
            </div>
        </div>
    </header>
    <!-- Header End-->
    <!-- Main Menu Start-->
    <nav id="menu" class="navbar">
        <div class="container">
            <div class="navbar-header"> <span class="visible-xs visible-sm"> Danh mục <b></b></span></div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="home_link" title="Home" href="/"><span>Trang chủ</span></a></li>
                    <li class="mega-menu dropdown sub"><a>Danh mục sản phẩm</a>
                        <span class="submore"></span><div class="dropdown-menu" style="margin-left: -43px; display: none;">
                            <div class="column col-lg-2 col-md-3"><a href="category.html">Clothing</a>
                            <span class="submore"></span><div>
                                <ul>
                                <li><a href="category.html">Men <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu" style="display: none;">
                                    <ul>
                                        <li><a href="category.html">Sub Categories</a></li>
                                        <li><a href="category.html">Sub Categories</a></li>
                                        <li><a href="category.html">Sub Categories</a></li>
                                        <li><a href="category.html">Sub Categories</a></li>
                                        <li><a href="category.html">Sub Categories New</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="category.html">Women</a> </li>
                                <li><a href="category.html">Girls<span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu" style="display: none;">
                                    <ul>
                                        <li><a href="category.html">Sub Categories </a></li>
                                        <li><a href="category.html">Sub Categories New</a></li>
                                        <li><a href="category.html">Sub Categories New</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="category.html">Boys</a></li>
                                <li><a href="category.html">Baby</a></li>
                                <li><a href="category.html">Accessories <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu" style="display: none;">
                                    <ul>
                                        <li><a href="category.html">New Sub Categories</a></li>
                                    </ul>
                                    </div>
                                </li>
                                </ul>
                            </div>
                            </div>
                            <div class="column col-lg-2 col-md-3"> <a href="category.html">Electronics</a>
                            <span class="submore"></span><div>
                                <ul>
                                <li> <a href="category.html">Laptops <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu" style="display: none;">
                                    <ul>
                                        <li> <a href="category.html">New Sub Categories </a> </li>
                                        <li> <a href="category.html">New Sub Categories </a> </li>
                                        <li> <a href="category.html">Sub Categories New </a> </li>
                                    </ul>
                                    </div>
                                </li>
                                <li> <a href="category.html">Desktops <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu" style="display: none;">
                                    <ul>
                                        <li> <a href="category.html">New Sub Categories </a> </li>
                                        <li> <a href="category.html">Sub Categories New </a> </li>
                                        <li> <a href="category.html">Sub Categories New </a> </li>
                                    </ul>
                                    </div>
                                </li>
                                <li> <a href="category.html">Cameras <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu" style="display: none;">
                                    <ul>
                                        <li> <a href="category.html">New Sub Categories</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="category.html">Mobile Phones <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu" style="display: none;">
                                    <ul>
                                        <li><a href="category.html">New Sub Categories</a></li>
                                        <li><a href="category.html">New Sub Categories</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="category.html">TV &amp; Home Audio <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu" style="display: none;">
                                    <ul>
                                        <li><a href="category.html">New Sub Categories </a> </li>
                                        <li><a href="category.html">Sub Categories New </a> </li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="category.html">MP3 Players</a> </li>
                                </ul>
                            </div>
                            </div>
                            <div class="column col-lg-2 col-md-3"><a href="category.html">Shoes</a>
                            <span class="submore"></span><div>
                                <ul>
                                <li><a href="category.html">Men</a> </li>
                                <li><a href="category.html">Women <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu">
                                    <ul>
                                        <li><a href="category.html">New Sub Categories </a> </li>
                                        <li><a href="category.html">Sub Categories </a> </li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="category.html">Girls</a> </li>
                                <li><a href="category.html">Boys</a> </li>
                                <li><a href="category.html">Baby</a> </li>
                                <li><a href="category.html">Accessories <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu" style="display: none;">
                                    <ul>
                                        <li><a href="category.html">New Sub Categories</a></li>
                                        <li><a href="category.html">New Sub Categories</a></li>
                                        <li><a href="category.html">Sub Categories</a></li>
                                    </ul>
                                    </div>
                                </li>
                                </ul>
                            </div>
                            </div>
                            <div class="column col-lg-2 col-md-3"> <a href="category.html">Watches</a>
                            <span class="submore"></span><div>
                                <ul>
                                <li> <a href="category.html">Men's Watches</a></li>
                                <li> <a href="category.html">Women's Watches</a></li>
                                <li> <a href="category.html">Kids' Watches</a></li>
                                <li> <a href="category.html">Accessories</a></li>
                                </ul>
                            </div>
                            </div>
                            <div class="column col-lg-2 col-md-3"> <a href="category.html">Jewellery</a>
                            <span class="submore"></span><div>
                                <ul>
                                <li> <a href="category.html">Silver <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu">
                                    <ul>
                                        <li> <a href="category.html">New Sub Categories</a></li>
                                        <li> <a href="category.html">New Sub Categories</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="category.html">Gold <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu">
                                    <ul>
                                        <li><a href="category.html">test 1</a></li>
                                        <li><a href="category.html">test 2</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="category.html">Diamond</a></li>
                                <li><a href="category.html">Pearl <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu">
                                    <ul>
                                        <li><a href="category.html">New Sub Categories</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="category.html">Men's Jewellery</a></li>
                                <li><a href="category.html">Children's Jewellery <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu">
                                    <ul>
                                        <li><a href="category.html">New Sub Categories </a> </li>
                                    </ul>
                                    </div>
                                </li>
                                </ul>
                            </div>
                            </div>
                            <div class="column col-lg-2 col-md-3"><a href="category.html">Health &amp; Beauty</a>
                            <span class="submore"></span><div>
                                <ul>
                                <li> <a href="category.html">Perfumes</a></li>
                                <li> <a href="category.html">Makeup</a></li>
                                <li> <a href="category.html">Sun Care</a></li>
                                <li> <a href="category.html">Skin Care</a></li>
                                <li> <a href="category.html">Eye Care</a></li>
                                <li> <a href="category.html">Hair Care</a></li>
                                </ul>
                            </div>
                            </div><div class="clearfix visible-lg-block"></div>
                            <div class="column col-lg-2 col-md-3"> <a href="category.html">Kids &amp; Babies</a>
                            <span class="submore"></span><div>
                                <ul>
                                <li><a href="category.html">Toys</a></li>
                                <li><a href="category.html">Games <span>›</span></a>
                                    <span class="submore"></span><div class="dropdown-menu" style="display: none;">
                                    <ul>
                                        <li><a href="category.html">test 25</a></li>
                                    </ul>
                                    </div>
                                </li>
                                <li><a href="category.html">Puzzles</a></li>
                                <li><a href="category.html">Hobbies</a></li>
                                <li><a href="category.html">Strollers</a></li>
                                <li><a href="category.html">Health &amp; Safety</a></li>
                                </ul>
                            </div>
                            </div>
                            <div class="column col-lg-2 col-md-3"> <a href="category.html">Sports</a>
                            <span class="submore"></span><div>
                                <ul>
                                <li><a href="category.html">Cycling</a></li>
                                <li><a href="category.html">Running</a></li>
                                <li><a href="category.html">Swimming</a></li>
                                <li><a href="category.html">Football</a></li>
                                <li><a href="category.html">Golf</a></li>
                                <li><a href="category.html">Windsurfing</a></li>
                                </ul>
                            </div>
                            </div>
                            <div class="column col-lg-2 col-md-3"> <a href="category.html">Home &amp; Garden</a>
                            <span class="submore"></span><div>
                                <ul>
                                <li><a href="category.html">Bedding</a></li>
                                <li><a href="category.html">Food</a></li>
                                <li><a href="category.html">Furniture</a></li>
                                <li><a href="category.html">Kitchen</a></li>
                                <li><a href="category.html">Lighting</a></li>
                                <li><a href="category.html">Tools</a></li>
                                </ul>
                            </div>
                            </div>
                            <div class="column col-lg-2 col-md-3"> <a href="category.html">Wines &amp; Spirits</a>
                            <span class="submore"></span><div>
                                <ul>
                                <li><a href="category.html">Wine</a></li>
                                <li><a href="category.html">Whiskey</a></li>
                                <li><a href="category.html">Vodka</a></li>
                                <li><a href="category.html">Liqueurs</a></li>
                                <li><a href="category.html">Beer</a></li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_brands dropdown"><a href="#">Thương hiệu</a>
                        <div class="dropdown-menu">
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/apple_logo-60x60.jpg" title="Apple" alt="Apple" /></a><a href="#">Apple</a></div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/canon_logo-60x60.jpg" title="Canon" alt="Canon" /></a><a href="#">Canon</a></div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/hp_logo-60x60.jpg" title="Hewlett-Packard" alt="Hewlett-Packard"
                                    /></a><a href="#">Hewlett-Packard</a></div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/htc_logo-60x60.jpg" title="HTC" alt="HTC" /></a><a href="#">HTC</a></div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/palm_logo-60x60.jpg" title="Palm" alt="Palm" /></a><a href="#">Palm</a></div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/sony_logo-60x60.jpg" title="Sony" alt="Sony" /></a><a href="#">Sony</a>                                </div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/canon_logo-60x60.jpg" title="test" alt="test" /></a><a href="#">test</a>                                </div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/apple_logo-60x60.jpg" title="test 3" alt="test 3" /></a><a href="#">test 3</a></div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/canon_logo-60x60.jpg" title="test 5" alt="test 5" /></a><a href="#">test 5</a>                                </div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/canon_logo-60x60.jpg" title="test 6" alt="test 6" /></a><a href="#">test 6</a></div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/apple_logo-60x60.jpg" title="test 7" alt="test 7" /></a><a href="#">test 7</a>                                </div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/canon_logo-60x60.jpg" title="test1" alt="test1" /></a><a href="#">test1</a></div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                <a href="#"><img src="/images/product/apple_logo-60x60.jpg" title="test2" alt="test2" /></a><a href="#">test2</a></div>
                        </div>
                    </li>
                    <li class="custom-link"><a href="#">Custom Links</a></li>
                    <li class="dropdown wrap_custom_block hidden-sm hidden-xs"><a>Custom Block</a>
                        <div class="dropdown-menu custom_block">
                            <ul>
                                <li>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><img alt="" src="/images/banner/cms-block.jpg"></td>
                                                <td><img alt="" src="/images/banner/responsive.jpg"></td>
                                                <td><img alt="" src="/images/banner/cms-block.jpg"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h4>CMS Blocks</h4>
                                                </td>
                                                <td>
                                                    <h4>Responsive Template</h4>
                                                </td>
                                                <td>
                                                    <h4>Dedicated Support</h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>This is a CMS block. You can insert any content (HTML, Text, Images) Here.</td>
                                                <td>This is a CMS block. You can insert any content (HTML, Text, Images) Here.</td>
                                                <td>This is a CMS block. You can insert any content (HTML, Text, Images) Here.</td>
                                            </tr>
                                            <tr>
                                                <td><strong><a class="btn btn-primary btn-sm" href="#">Read More</a></strong></td>
                                                <td><strong><a class="btn btn-primary btn-sm" href="#">Read More</a></strong></td>
                                                <td><strong><a class="btn btn-primary btn-sm" href="#">Read More</a></strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown information-link"><a>Pages</a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="category.html">Category (Grid/List)</a></li>
                                <li><a href="product.html">Product</a></li>
                                <li><a href="cart.html">Shopping Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="compare.html">Compare</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="search.html">Search</a></li>
                            </ul>
                            <ul>
                                <li><a href="about-us.html">Giới thiệu</a></li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="elements.html">Elements</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="sitemap.html">Sitemap</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="contact-link"><a href="/lien-he">Liên hệ</a></li>
                    <li class="custom-link-right"><a href="#" target="_blank">Khuyến mãi</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main Menu End-->
</div>