<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{__ 'Classifield Website'}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{__ 'Search'}}">
            </div>
            <button type="submit" class="btn btn-default">{{__ 'Submit'}}</button>
        </form>

        <ul class="nav navbar-nav">
            <li>
            <p class="navbar-text" style="color: green;font-weight: bold;">{{__n '%d member' 2}}</p>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/images/{{clanguage}}.png"> {{@root.__ clanguage}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {{#each languages}}
                    <li><a onclick="window.location.href='/{{this}}'" href="#"><img src="/images/{{this}}.png"> {{@root.__ this}}</a></li>
                    {{/each}}
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{__ 'Account'}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {{#if logged}}
                    <li><a href="/thanh-vien/tai-khoan">{{__ 'Profile'}}</a></li>
                    <li><a href="/thanh-vien/dang-thoat">{{__ 'Logout'}}</a></li>
                    {{else}}
                    <li><a href="/thanh-vien/dang-nhap">{{__ 'Login'}}</a></li>
                    <li><a href="/thanh-vien/dang-ky">{{__ 'Register'}}</a></li>
                    {{/if}}
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
