<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{settings.site_name}} - Quản trị đăng nhập</title>
	<link href="/backend/css/{{settings.adminLoginTemplate}}.css" rel="stylesheet" type="text/css" />
	<link href="/backend/css/global.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		function picknumber(n) {
			var pin_code = document.getElementById("pin_code");
			var pinc = document.getElementById("pinc");
			pinc.value = pinc.value + "*";
			pin_code.value = pin_code.value + n;
		}
		function resetpicker() {
			var pinc = document.getElementById("pinc");
			var pin_code = document.getElementById("pin_code");
			pinc.value = '';
			pin_code.value = '';
		}
	</script>
</head>

<body>
	<div id="wrapper">
		<form method="post" action="/backoffice/login" id="login">
			<h1 id="ff-proof" class="ribbon">{{settings.site_name}} Admin &nbsp;&nbsp;</h1>
			{{#if hasErrors}}
			<div class="error_box">
				{{#each messages}}
				{{this}}
				{{/each}}
			</div>
			{{else}}
			<div class="info_box">Chào mừng bạn đến trang đăng nhập Quản trị hệ thống</div>
			{{/if}}
			<div class="clear"><br></div>
			<fieldset id="inputs">
				<input id="username" name="username" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập tài khoản...'"
				 placeholder="Nhập tài khoản..." value="" />
				<input id="password" name="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập mật khẩu...'"
				 placeholder="Nhập mật khẩu..." value=""/>

				<input type="password" name="pinc" id="pinc" disabled="disabled" />
				<input type="hidden" name="pin_code" id="pin_code" value="" />

				<div class="pincode_box" id="virtualKeyboad">
					<script type="text/javascript">
							function shuffle(array) {
								var currentIndex = array.length, temporaryValue, randomIndex;
								while (0 !== currentIndex) {
									randomIndex = Math.floor(Math.random() * currentIndex);
									currentIndex -= 1;
									temporaryValue = array[currentIndex];
									array[currentIndex] = array[randomIndex];
									array[randomIndex] = temporaryValue;
								}
								return array;
							}

							var numArr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
							numArr = shuffle(numArr);
							var button = "";
							for (var number in numArr) {
								button += '<span class="pincode_button" onclick = "picknumber(' + numArr[number] + ');"> ' + numArr[number] + ' </span>';
							}
							button += '<span class="pincode_clear" onclick= "resetpicker();"> Xóa </span>';
							document.getElementById("virtualKeyboad").innerHTML = button;
					</script>
				</div>
			</fieldset>
			<fieldset id="actions">
				<input type="hidden" name="_csrf" value="{{csrfToken}}" />
				<input type="submit" name="btn" id="submit" value="Đăng nhập" />
			</fieldset>
		</form>
	</div>
</body>

</html>