<div id="container">
    <div class="container">
        <table class="productList table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                {{#foreach products}}
                <tr>
                    <td><a href="/product/detail/{{this._id}}">{{this._id}}</a></td>
                    <td valign="middle">{{this.proName}}</td>
                    <td class="listCategories">
                        {{#each this.categories}}
                            <a href="/category/detail/{{this._id}}">{{this.name}}</a>
                        {{/each}}
                    </td>
                    <td>{{format_date this.createdAt "DD/MM/YYYY"}} lúc {{format_date this.createdAt "h:s"}}</td>
                </tr>
                {{/foreach}}
            </tbody>
        </table>
    </div>
</div>