<div class="site_title">{{__ 'Create a new administrator'}}</div>
<div class="site_content">

    {{#if hasErrors}}
		<div class="error_box">
		{{#each messages}}
			<p>{{this}}</p>
		{{/each}}
		</div>
	{{/if}}
    
    <form method="post" action="/backoffice/administrators/create">
        <div id="tabs">
	        <ul>
                <li><a href="#tab-1">{{__ 'General'}}</a></li>
            </ul>
            
            <div id="tab-1">
                <table class="widget-tbl" width="40%" style="float: left;">
                    <tr>
                        <td width="100" align="right">{{__ 'FullName:'}}</td>
                        <td>
                            <input style="width:100px;min-width: 100px !important;" name="firstname" type="text"  placeholder="{{__ 'First name'}}" />
                            <input style="width:100px;min-width: 100px !important;" name="lastname" type="text"  placeholder="{{__ 'Last name'}}" />
                        </td>
                    </tr>

                    <tr>
                        <td align="right">{{__ 'Phone'}}</td>
                        <td><input name="phone" type="text" value="" /></td>
                    </tr>

                    <tr>
                        <td align="right">{{__ 'E-mail'}}</td>
                        <td><input name="email" type="text" value="" /></td>
                    </tr>
                </table>

                <table class="widget-tbl" width="56%" style="float: right;">

                    <tr>
                        <td align="right">{{__ 'Password'}}</td>
                        <td><input name="password" type="password" value="" /> {{__ '(6 characters minimum)'}}</td>
                    </tr>
                    <tr>
                        <td align="right">{{__ 'PIN Code'}}</td>
                        <td><input name="pin" type="password" value="" /> {{__ '(Number of 6 digits)'}}</td>
                    </tr>
                    <tr>
                        <td align="right">{{__ 'Role'}}</td>
                        <td>
                            <select name="roles">
                                <option value="ADMIN">{{__ 'Administrator'}}</option>
                                <option value="MOD">{{__ 'Moderator'}}</option>
                            </select>
                        </td>
                    </tr>
                </table>

                <div class="clear"></div>

                <table class="widget-tbl" width="100%">
                    <tr>
                        <td align="center">
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                            <input type="button" name="btn" value="{{__ 'Return'}}" onclick="history.back();" />
                            <input type="submit" name="create" value="{{__ 'Create'}}" />
                        </td>
                    </tr>
                </table>
	        </div>
        </div>
    </form>

</div>